*{
    font-family: 'Times New Roman', Times, serif;
    color: #2C5F2D;
}

.cards{
    display: flex;
    justify-content: center;
}

.cards img{
    border-radius: 15px;
}

.card{
    border: 4px solid #2C5F2D;
    padding: 33px;
    margin-top: 30px;
    margin-bottom: 25px;
    border-radius: 15px;
    margin-right: 33px;
    margin-left: 33px;
}

.tool-heading {
    text-align: center;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 20px;
}

#ftool-heading, #etool-heading{
    margin-top: 250px;
}

.card-title{
    font-weight: bold;
    font-size: 23px;
    margin-top: 10px;
}

.cards li{
    list-style: none;
    margin-top: 20px;
    font-weight: bold;
}

.card-button{
    text-decoration: none;
    border: 2px solid #2C5F2D;
    border-radius: 4px;
    padding: 5px 10px;
}

.equipments p{
    margin-top: 70px;
    font-size: 17px;
    text-align: center;
    color: black;
    background-color: #97BC62;
    padding: 12px;
    margin-bottom: 0;
}

.elec-equipments p{
    margin-top: 270px;
    font-size: 17px;
    text-align: center;
    color: black;
    background-color: #97BC62;
    padding: 12px;
    margin-bottom: 0;
}

.farm-equipments p{
    margin-top: 270px;
    font-size: 17px;
    text-align: center;
    color: black;
    background-color: #97BC62;
    padding: 12px;
    margin-bottom: 0;
}

#my-products p{
    margin-top: 268px;
}
.card-button:hover{
    background-color: #97BC62;
    border: 2px solid #97BC62;
}

.card:hover{
    box-shadow: 2px 3px 10px rgba(0,0,0,0.5);
}

.back-button{
    text-decoration: none;
    border: 2px solid #2C5F2D;
    border-radius: 4px;
    padding: 5px 10px;
    margin-left: 25px;

}

.back-button:hover{
    background-color: #97BC62;
    border: 2px solid #97BC62;
}