*{
    font-family: 'Times New Roman', Times, serif;
}

.navbar{
    width: 100%;
    background-color: white;
    display: flex;
    padding: 0;
    height: 60px;
    box-shadow: 2px 3px 10px rgba(0,0,0,0.5);
} 
ul{
    list-style: none;
    margin-top: 20px;
    display: flex;
}
.nav-heading{
    margin-left: 10px;
    margin-top: 8px;
    margin-right: 990px;
    color: #2C5F2D;
    font-size: 33px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

span{
    color: #97BC62;
}

.nav-button, .login-button{
    text-decoration: none;
    color: #2C5F2D;
    font-size: 18px;
    font-weight: bold;
    margin-left: 17px;
    margin-right: 20px;
}

.login-button{
    border-radius: 5px;
    border: 2px solid #2C5F2D;
    height: 40px;
    width: 60px;
    padding: 7px 14px;
}

.login-button:hover{
    border: 2px solid #97BC62;
    color: #2C5F2D;
    background-color: #97BC62;
    border-radius: 5px;
}

